/**=================
Media Queries
**/

/* *=======================
Desktop
===========================*/
@media (max-width: 1536px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1028px;
  }
}

/* *=======================
Tablet/Small Lapton
===========================*/

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  section {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  /** 
  Header **/
  .header__container {
    flex-direction: column;
  }

  .header__column--left {
    flex-direction: column;
    align-items: center;
  }

  .header__content--left {
    align-items: center;

    & p {
      align-items: center;
      max-width: 320px;
    }
  }

  .header__column--right {
    align-items: center;
    text-align: center;
  }
}

/* *=======================
Phone
===========================*/

@media (max-width: 640px) {
  :root {
    font-size: 14px;
    line-height: 16px;
  }

  .container {
    max-width: 475px;
    padding: 0 1rem;
  }
  .section__title {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  /**Header**/
  header {
    margin-top: 20px;
  }

  .header__badge_container {
    flex-direction: column;
  }

  /** ABOUT ME     **/
  .aboutMe__container {
    padding: 1rem;
    width: 90%;
    border-radius: 2rem;
  }

  .aboutMe__content_container {
    border-radius: 2rem;
  }
}

/* *=======================
Small Tablet - landscape mode
===========================*/

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  /** ABOUT ME **/
  .aboutMe__section {
    margin: 80px auto;

    & img {
      display: none;
    }
  }
}
